$font-family: 'Open Sans', sans-serif
$principal: #f0efe9
$main_form: #fff
$color_font: #616473
$color_boton: #50e3a4
$color_checkbox: #fcfff4
$color_border: #88c64b
*
	margin: 0
	padding: 0
	box-sizing: border-box

body
	background: $principal
	font-family: $font-family
	color: $color_font
.intro

	input[type=text]
		margin: 20px 40px
		width: 320px
		color: $color_font
		.error
			color: red
			border: 5px solid #D32F2F

.formulario
	width: 400px
	//height: 580px
	max-height: 1000px 
	margin: 10px auto
	background: $main_form
	position: relative



.tiempo
	margin-bottom: 8px

	.numero_fecha
		font-size: 40px
		float: left
		margin-left: 42px
		margin-top:  40.8px
		margin-right: 8px

	.fecha_1
		display: inline-block
		text-align: left
		font-size: 12px
		margin-top: 40.8px
		.mes
			padding-top: 1em
			font-weight: bold

	.name_dia
		font-size: 16px
		float: right
		.name_dia_1
			margin-right: 40px
			margin-top: 56px



.lista
	p
		padding-top: 33px
		width: 100%
		padding-left: 46.4px
		padding-right: 46.4px
		
		
		label
			font-size: 14px
		label:before
			content: ''
			background: transparent
			//border: 2px solid $color_border
			//border-radius: 50%
			display: inline-block
			height: 18px
			width: 18px
			vertical-align: middle
			text-align: center
			float: right
			margin-top: 4px




		input[type=checkbox]
			display: none
		input[type=checkbox]+ label
			cursor: pointer
		input[type=checkbox]:checked+ label
			color: #c1c3cd
		input[type=checkbox]:checked+ label:before
			content: url("check.png")








.boton_principal


	display: inline-block
	//height: 52.5px//35.66665px
	position: absolute
	left: calc(50% - 35px)
	//bottom: -35px




	.boton
		//padding: 1em
		//margin: 0 34.5%
		background: $color_boton
		color: #46be8b
		border-style: none
		border-radius: 50%
		position: absolute
		width: 70px
		height: 70px
		font-size: 24px
		box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4)
		transition: 0.5s all ease
		cursor: pointer
	.boton:hover
		box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4)
		//font-size: 2em

.elim
	display: inline-block
	font-size: 12px 
	width: 100%
	color: red
	position: relative
	padding-left: 50px