$font-family: Arial
$principal: #ded5d5
$main_form: #fff
$color_font: #332c2c
$color_boton: #8ef195
$color_checkbox: #fcfff4
$color_border: #88c64b
*
	margin: 0
	padding: 0
	box-sizing: border-box

body
	background: $principal
	font-family: $font-family
	color: $color_font
.formulario
	width: 300px
	max-height: 1000px
	margin: auto
	background: $main_form
	margin-top: 10%
	


.tiempo

	.numero_fecha
		font-size: 2em
		float: left
		margin-left: 0.5em
		margin-top:  0.5em
		margin-right: 0.1em
  		 
	.fecha_1
		display: inline-block
		text-align: left
		.mes
			padding-top: 1em

.name_dia
	float: right
	margin-top: -2em
	margin-right: 1em 
	

.Lista
	p
		padding: 1em
		width: 100%
		label
			font-size: 1em
		label:before
			content: ''
			background: transparent
			border: 2px solid $color_border
			border-radius: 50%
			display: inline-block
			height: 18px
			width: 18px
			vertical-align: middle
			text-align: center
			float: right
			
			
		input[type=checkbox]
			display: none
		input[type=checkbox]+ label
			cursor: pointer
		input[type=checkbox]:checked+ label:before
			background: $color_border




            
.boton_principal
	
	
	display: inline-block
	height: 52.5px//35.66665px
	width: 100%
	position: relative
	



	.boton
		padding: 1em
		margin: 0 34.5%
		background: $color_boton
		color: $main_form
		border-style: none
		border-radius: 50%
		position: absolute
		font-size: 2em
		
	
		

		




	